<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .back{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
        
            
        }
        

    </style>

</head>
<body>
   {% load static %} 

<div class="back">
    <img src="{% static 'app/33.png'%}" alt="">
    <h1>404 Page Not Found</h1>
<p>URL you entered does't exsist</p>
    <a href="{% url 'signup'%}"><button type="button" class="btn btn-">signup</button></a>

</div>

</body>
</html>