<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search By MAC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-xxl">
        <form action="{% url 'details' %}">
            <div class="mb-3">
              <label for="searchmac" class="form-label">Search By MAC</label>
              <input type="text" class="form-control" id="searchmac" name="mac">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


        <table id="myTable" >
            <thead>
                <tr class="header">
                    <th>DeviceEUI</th>
                    <th>Gateway MAC Address</th>
                    <th class="wid"> Time</th>
                    <th>Freq</th>
                    <th>Application Name</th>
                    <th>Spreadind Factor</th>
                    <th>fcnt</th>
                    <th>RSSI(dbm)</th>
                    <th>SNR</th>
                    <th>Payload</th>
                </tr>
            </thead>
            <tbody>
                <p>{{posts.mac}}</p>
                {% for x in posts %}
                <tr>
                    <td>{{x.mac}}</td>
                    
                    <td>{{x.time}}</td>
                    <td>{{x.freq}}</td>
                    <td>{{x.modulation}}</td>
                    <td>{{x.data_rate}}</td>
                    <td>{{x.code_rate}}</td>
                    <td>{{x.rssi}}</td>
                    <td>{{x.lora_snr}}</td>
                    <td>{{x.payload}}</td> 
                </tr>
                {% endfor %} 
            </tbody>
              
        </table>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>